     .row{
	background-color: ;
    padding-top: 20px;
      }
      .row1{
      	background-color: ;
      	padding: 100px;
      }
     body {
            font-family: 'Lato';
        }

        .fa-btn {
            margin-right: 6px;
        }